<template>
  <q-page class="flex flex-center">
    <RegisterForm/>
  </q-page>
</template>

<style>
</style>

<script>
import RegisterForm from "../../components/register.vue"

export default {
  name: 'PageIndex',
  components: {RegisterForm}
}
</script>
