<template>
  <q-page class="flex flex-center">
    <img alt="Quasar logo" src="~assets/quasar-logo-full.svg">
    <q-btn color="primary" label="Ausloggen" @click="logout"/>
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'PageIndex',
  methods: {
    logout() {
      this.$store.dispatch('auth/logout');
    }
  },
}
</script>
