<template>
  <q-page class="flex flex-center">
    <q-card style="width: 80vw;">
  <q-card-main>
    <p class="q-title text-primary">Registrieren</p>
    <q-input v-model="email" type="email" stack-label="Email:" />
    <q-input v-model="password" type="password" stack-label="Passwort:" />
    <q-btn color="primary" class="full-width q-mt-md" label="Registrieren" @click="register"/>
  </q-card-main>
</q-card>
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'PageIndex',
  data() {
      return {
          email: '',
          password: ''
      }
  },
  methods: {
      register() {
          this.$store.dispatch('auth/register', { email: this.email, password: this.password})
      }
  }
}
</script>
